<html>
    <head>
        <title>Rishiketh Portfolio</title>
        <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css">
        <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|PT+Sans" rel="stylesheet">
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
    </head>
    <body>
       
        <p>From the header file</p>
        <div class="ui  fixed inverted menu">
            <div class="ui container">
                
                <div class="header item animated slideInLeft" id="myPortfolio">MY PORTFOLIO</div>
                <a href="/" class="item  ">HOME</a>
            <a href="/blogs/new" class="item  ">NEW PROJECT</a>
            <a  href="/blogs/author" class="item">AUTHOR</a>
            </div>
        </div>
        