<% include partials/header %>
 <div class="ui main text container"> 
 <div class="ui huge header animated zoomIn" id="Projects">Information</div>
  <div class="ui top attached segment" id="theme">
<div class="ui divided items">
   <div class="ui segment">
  <div class="ui three column very relaxed grid">
    <div class="column">
        <p class="contact">Name:    Rishiketh Prabhakar</p>
      <p class="contact">Date Of Birth: 15/12/1998</p>
      <p class="contact">Gender: Male</p>
      <p class="contact">Nationality: Indian</p>
      <p class="contact">Contact: rishiketh1998@gmail.com</p>
    </div>
    <div class="column">
     <h3>Programming Skills</h3>
      <p class="skills">Web Development (CSS3, HTML5 and JavaScript)</p>
      <p class="skills">C and C++</p>
      <p class="skills">Sublime, Goorm ide and Cloud9 (JavaScript, CSS and HTML)</p>
      <p class="skills">Code Blocks and Visual Studio ide (C and C++)</p>
      <p class="skills">Adobe Photoshop</p>
      <p class="skills">Oracle</p>
      <p class="skills">Database (SQL , MongoDb)</p>
      <p class="skills">Bootstrap and Sematic UI</p>
      <p class="skills">NodeJs (express and koa)</p>
      <p class="skills">JQuery</p>
      <p class="skills">WordPress</p>
    </div>
    <div class="column">
         <h3>IT Skills</h3>
          <p class="skills">Technical Writing</p>
      <p class="skills">Computer and Technical literacy</p>
      <p class="skills">Word, Excel and PowerPoint</p>
      <p class="skills">Git Hub</p>
      </div>
  </div>
  






<% include partials/footer %>